{
  "swagger": "2.0",
  "info": {
    "description": "Domain registration statistics API providing information about registrars, TLDs, and domain statistics. Free for public use.",
    "version": "1.1",
    "title": "DomainDumper API",
    "termsOfService": "https://www.domaindumper.com/tos/",
    "contact": {
      "email": "support@domaindumper.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "statistics.domaindumper.com",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "registrar",
      "description": "Domain registrar operations"
    },
    {
      "name": "root",
      "description": "TLD and root zone operations"
    },
    {
      "name": "stats",
      "description": "Domain statistics operations"
    },
    {
      "name": "tlds",
      "description": "TLD list operations"
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/registrar/registrars.json": {
      "get": {
        "tags": ["registrar"],
        "summary": "Get basic registrar list",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "List of registrars",
            "schema": {
              "type": "object",
              "properties": {
                "registrars": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "example": "Example Registrar"
                      },
                      "url": {
                        "type": "string",
                        "example": "https://example.com"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrars-details.json": {
      "get": {
        "tags": ["registrar"],
        "summary": "Get detailed registrar information",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "details": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/root/db.json": {
      "get": {
        "tags": ["root"],
        "summary": "Get root zone database",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "manager": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/root/detail/{tldName}/{tldName}.json": {
      "get": {
        "tags": ["root"],
        "summary": "Get TLD details",
        "parameters": [
          {
            "name": "tldName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "TLD name (e.g., com, net)",
            "example": "com"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "TLD details",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "com"
                },
                "type": {
                  "type": "string",
                  "example": "generic"
                },
                "manager": {
                  "type": "string",
                  "example": "VeriSign Global Registry Services"
                },
                "rootServers": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "a.gtld-servers.net"
                  }
                }
              }
            }
          },
          "404": {
            "description": "TLD not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/stats/{year}/{month}/{date}/stats.json": {
      "get": {
        "tags": ["stats"],
        "summary": "Get domain statistics by date",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Year (YYYY)",
            "example": "2024"
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Month (MM)",
            "example": "02"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Date (DD)",
            "example": "19"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Domain statistics",
            "schema": {
              "type": "object",
              "properties": {
                "countryStats": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  },
                  "example": {
                    "US": 1000000,
                    "GB": 500000
                  }
                },
                "registrarStats": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  },
                  "example": {
                    "1": 100000,
                    "2": 50000
                  }
                },
                "tldStats": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  },
                  "example": {
                    "com": 2000000,
                    "net": 1000000
                  }
                }
              }
            }
          },
          "404": {
            "description": "Statistics not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tlds/tlds_list.json": {
      "get": {
        "tags": ["tlds"],
        "summary": "Get all TLDs list",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "List of TLDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "com"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about DomainDumper",
    "url": "https://www.domaindumper.com"
  }
}