{
  "swagger": "2.0",
  "info": {
    "description": "We generate all possible states of domain registration, expiration, and deletion. We include the list of root registrar and root name server as well. These APIs are available for free use in any project. If you need premium services, then check our paid services at: [https://www.domaindumper.com](https://www.domaindumper.com)",
    "version": "1.0",
    "title": "Domain Statics API",
    "termsOfService": "https://www.domaindumper.com/tos/",
    "contact": {
      "email": "support@domaindumper.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "statistics.domaindumper.com",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "registrar",
      "description": "Domain registrar operations",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://www.domaindumper.com"
      }
    },
    {
      "name": "root",
      "description": "Access TLD details"
    },
    {
      "name": "stats",
      "description": "stats of domains",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "https://www.domaindumper.com"
      }
    },
    {
      "name": "tlds",
      "description": "All TLD List",
      "externalDocs": {
        "description": "List of all tlds",
        "url": "https://www.domaindumper.com"
      }
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/registrar/registrars.json": {
      "get": {
        "tags": [
          "registrar"
        ],
        "summary": "get registrar list",
        "description": "Get a complete list of registrar",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/registrar/registrars-details.json": {
      "get": {
        "tags": [
          "registrar"
        ],
        "summary": "get registrar detailed list",
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/root/db.json": {
      "get": {
        "tags": [
          "root"
        ],
        "summary": "Root TLD and gTLD list",
        "description": "Its includes name, type, manager and detailed link",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/root/detail/{TldName}/{TldName}.json": {
      "get": {
        "tags": [
          "root"
        ],
        "summary": "Single TLD and gTLD full details",
        "description": "Its includes name, type, manager, address and Root NS",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "TldName",
            "in": "path",
            "description": "Name of TLD. ",
            "example": "com or net, See Complete list: https://statistics.domaindumper.com/api/v1/root/db.json",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "tld name not correct",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/stats/{Year}/{Month}/{Date}/country.json": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "Country-based domain statistics",
        "description": "The stats of domains based on countries",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Year",
            "in": "path",
            "description": "Year in number",
            "example": "2024 for current year",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Month",
            "in": "path",
            "description": "Month in number",
            "example": "05 for May",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Date",
            "in": "path",
            "description": "Date in number",
            "example": "15",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "failed operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/stats/{Year}/{Month}/{Date}/registrar.json": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "Registrar-based domain statistics",
        "description": "The stats of domains based on Registrar-based",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Year",
            "in": "path",
            "description": "Year in number",
            "example": "2024 for current year",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Month",
            "in": "path",
            "description": "Month in number",
            "example": "05 for May",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Date",
            "in": "path",
            "description": "Date in number",
            "example": "15",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "failed operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/stats/{Year}/{Month}/{Date}/stats.json": {
      "get": {
        "tags": [
          "stats"
        ],
        "summary": "TLD-based domain statistics",
        "description": "The stats of domains based on TLD-based",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Year",
            "in": "path",
            "description": "Year in number",
            "example": "2024 for current year",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Month",
            "in": "path",
            "description": "Month in number",
            "example": "05 for May",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Date",
            "in": "path",
            "description": "Date in number",
            "example": "15",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "failed operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/tlds/tlds_list.json": {
      "get": {
        "tags": [
          "tlds"
        ],
        "summary": "get registrars list",
        "description": "Get a complete list of registrar",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    },
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://petstore.swagger.io/oauth/authorize",
      "flow": "implicit",
      "scopes": {
        "read:pets": "read your pets",
        "write:pets": "modify pets in your account"
      }
    }
  },
  "definitions": {
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Category"
      }
    },
    "Pet": {
      "type": "object",
      "required": [
        "name",
        "photoUrls"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "category": {
          "$ref": "#/definitions/Category"
        },
        "name": {
          "type": "string",
          "example": "doggie"
        },
        "photoUrls": {
          "type": "array",
          "xml": {
            "wrapped": true
          },
          "items": {
            "type": "string",
            "xml": {
              "name": "photoUrl"
            }
          }
        },
        "tags": {
          "type": "array",
          "xml": {
            "wrapped": true
          },
          "items": {
            "xml": {
              "name": "tag"
            },
            "$ref": "#/definitions/Tag"
          }
        },
        "status": {
          "type": "string",
          "description": "pet status in the store",
          "enum": [
            "available",
            "pending",
            "sold"
          ]
        }
      },
      "xml": {
        "name": "Pet"
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "xml": {
        "name": "Tag"
      }
    },
    "Order": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "petId": {
          "type": "integer",
          "format": "int64"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        },
        "shipDate": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "type": "string",
          "description": "Order Status",
          "enum": [
            "placed",
            "approved",
            "delivered"
          ]
        },
        "complete": {
          "type": "boolean"
        }
      },
      "xml": {
        "name": "Order"
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "username": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "userStatus": {
          "type": "integer",
          "format": "int32",
          "description": "User Status"
        }
      },
      "xml": {
        "name": "User"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "https://www.domaindumper.com"
  }
}